<!DOCTYPE html>
<html>

<head>
    <title>RailsAngular</title>
    <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-ng-app="app">
    <div class="container" data-ng-view>
        <%= yield %>
    </div>
</body>

</html>